@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('media/images/background.gif');
}

.menu {
    background-color: #4d4d4d;
    border-radius: 50px;
    box-shadow: 0px 0px 50px #1a1a1a;
    margin: 10px auto;
    padding: 20px;
    width: 900px;
    height: 600px;
}



#allthethings {
  width:0px;
  height:0px;
  
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
  
  
  
  
  
  
}

#single {
  
  position:relative;
  bottom:100px;
  right:300px;
  height:125px;
  width:600px;
    background-color: #3a3a3a;
    
    box-shadow: inset 0px 0px 10px black;
    border-radius: 25px;
    border-color: black;
    
  text-align:center;
  font-size:80px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color: white;
  font-family:shadows into light;
  
  cursor:pointer;
}

#single:hover {
  background:#7A0000;
  color:black;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}

#single p {
  position:relative;
  top:2px;
  right:4px;
  
  
}


#credits {
  height:125px;
  width:600px;
  position:relative;
    
 
  bottom:150px;
  font-size:80px;
  right:300px;
    background-color: #3a3a3a;
    box-shadow: inset 0px 0px 10px black;
    border-radius: 25px;
    border-color: black;
    
  text-align:center;
  font-size:80px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color: white;
  font-family:shadows into light;

  cursor: pointer;
  
}

#credits p {
  position:relative;
  top:0px;
  
}

#credits:hover {
  background:#7A0000;
  color:black;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}
