@font-face {
    font-family: doublefeature;
    src: url(media/fonts/doublefeature20-webfont.woff);
}
  
div {
    font-family: doubleFeature;
}

body {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('media/images/background.gif');
}

.menuParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}

.menu {
    background-color: #4d4d4d;
    border-radius: 50px;
    box-shadow: 0px 0px 50px #1a1a1a;
    margin: 10px auto;
    padding: 20px;
    width: 900px;
    height: auto;
}

.menuLeft{
    background-color: #4d4d4d;
    border-radius: 50px;
    box-shadow: 0px 0px 50px #1a1a1a;
   
    padding: 20px;
    width: 200px;
    height: 600px;
    grid: 40px;
    margin: 10px auto;
    
    float: left;
}

.menuRight{
    background-color: #4d4d4d;
    border-radius: 50px;
    box-shadow: 0px 0px 50px #1a1a1a;
   
    padding: 20px;
    width: 200px;
    height: 600px;
    grid: 40px;
    margin: 10px auto;

    float: right;
}

.gameCanvas {
    background-color: #000000;
    border-radius: 25px;
    box-shadow: inset 0px 0px 50px #1a1a1a;
    width: min-content;
}

.logo {
    width: 700px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 110px;
    font-family:shadows into light;
    color: white;
    position: relative;
}

.bigButton {
    position:relative;
    margin-top: 20px;
    margin-left: 150px;
    width:600px;
    background-color: #141414;
    box-shadow: inset 0px 0px 10px #000000;
    border-radius: 25px;
    color: maroon;
    font-family: doubleFeature;
    text-align:center;
    font-size:50px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
}

.bigButton:hover {
    background:#3c0f0f;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.smallButtonParent{
    display: grid;
    grid-template-columns: 0fr 0fr;
    column-gap: 10px;
}

.smallButtonLeft{
    position:relative;
    margin: 20px;
    margin-left: 150px;
    width:295px;
    background-color: #141414;
    box-shadow: inset 0px 0px 10px #000000;
    border-radius: 25px;
    color: maroon;
    font-family: doubleFeature;
    text-align:center;
    font-size:50px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
    grid: 40px;
    float: left;
}

.smallButtonLeft:hover {
    background:#3c0f0f;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.smallButtonRight{
    position:relative;
    margin: 20px;
    margin-left: -20px;
    width:295px;
    background-color: #141414;
    box-shadow: inset 0px 0px 10px #000000;
    border-radius: 25px;
    color: maroon;
    font-family: doubleFeature;
    text-align:center;
    font-size:50px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
    grid: 40px;
    float: right;
}

.smallButtonRight:hover {
    background:#3c0f0f;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.textBox {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 90px;
    background-color: #424242;
    border-radius: 15px;
    width: 700px;
    height: auto;
}

.text {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.powerupText {
    margin-left: 290px;
    
    width: 600px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    font-size:20px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
}

.powerupImage{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 54px;
    margin-left: 190px;
    font-family:shadows into light;
    color: white;
    float:left
}

.controlsImage {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 100px;
    font-family:shadows into light;
    color: white;
    position: relative;
}

.controlsTextLeft {
    position: relative;
    margin: 10px;
    margin-left: 20px;
    width: 600px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    font-size:20px;
   
}

.controlsTextMiddle {
    position: absolute;
    margin: -35px;
    margin-left: 450px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    font-size: 20px;
}

.controlsTextRight {
    position: absolute;
    margin: -35px;
    margin-left: 600px;
    width: 600px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    font-size:20px;
}

.creditsTextLeft {
    position: relative;
    margin: 10px;
    margin-left: 20px;
    width: 600px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    font-size:30px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
}

.creditsTextMiddle {
    margin: 10px;
    position: relative;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.creditsTextRight {
    position: absolute;
    margin: -40px;
    margin-left: 80px;
    width: 600px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:right;
    font-size:30px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
}